body {
    background-image: url(../img/background_pattern.avif);
}

/*********************************** MIS CLASES ***********************************/

.bg-gradiant {
    background: linear-gradient(0deg, rgba(172,222,255,1) 0%, rgba(102,200,255,1) 100%);
}

.card {
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(105%);
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}