body {
    background-image: url(../../img/pattern_background_2.jpg);
    background-position: center;
}

/*********************************** MIS CLASES ***********************************/

.vh-90 {
    height: 90vh;
}

.w-60 {
    width: 60%;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}